	body {background-color: #1f1f1f;}
	h3 { color: #dbdbdb; font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 32px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; padding-top: 5%; letter-spacing: .5em;} 
	h4 { font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
	h5 { color: #dbdbdb; font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; background-color: #2e2e2e; }
	h6 { color: #dbdbdb; font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; background-color: #2e2e2e; padding-top: 1%; padding-bottom: 1%; }

	p { color: #dbdbdb; font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
	ul { color: #dbdbdb; font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;  }
	li { padding-bottom: 2%; }

	a:link { background-color: #363636; color: #dbdbdb;}
	a:visited { background-color: #363636; color: #dbdbdb;}

	img { padding-bottom: 5%; padding-right: 5%; }

	.navbar {
	background-color: none;
	position: relative;
	text-align: left;
	padding-left: 2%;
	padding-top: 1%;
	width: auto;
	}


	.typewriter h3 {
	  overflow: hidden; /* Ensures the content is not revealed until the animation */
	  border-right: .15em solid #2e2e2e; /* The typwriter cursor */
	  white-space: nowrap; /* Keeps the content on a single line */
	  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	  letter-spacing: .5em; /* Adjust as needed */
	  animation: 
	    typing 3.5s steps(40, end),
	    blink-caret .75s step-end infinite;
	} 

	/* The typing effect */
	@keyframes typing {
	  from { width: 0 }
	  to { width: 100% }
	}

	/* The typewriter cursor effect */
	@keyframes blink-caret {
	  from, to { border-color: transparent }
	  50% { border-color: #2e2e2e; }
	}

