html
{
    margin: 0;
    width:  100%;
}

body
{
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    /* text-transform: lowercase; */
    background: #f5f5f5;
    color: black;
}

.container
{
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.sidebar
{
    width: 20%;
    height: 90%;
    margin: 0 auto;
    position: fixed;
    padding-top: 8%;
    overflow: hidden;
}


@font-face
{
    font-family:"Lekton";
    src: url("./Lekton/Lekton-Regular.ttf")
    format('truetype');
}


h1 { font-family: Lekton; font-size: 36px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 50px; } 

h2 { font-family: Lekton; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 50px; } 


h3 { font-family: Lekton; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } 

p,li,button { font-family: Lekton; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } 

h6{ font-family: Lekton; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } 

blockquote { font-family: Lekton; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }

pre { font-family: Lekton; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }

button, input[type="submit"], input[type="reset"] {
	background: #dedede;
	color: inherit;
	border: none;
	padding: 0px 8px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    display:inline-block;
}


a
{
    /* text-shadow: 0 0 10px blue; */
    /* color: #020099; */
    transition: .2s ease;
    color: black;
    text-decoration: none;
    line-height: 30px;
    padding: 2%;
}

a:hover
{
    /* text-shadow: 0 0 10px blue; */
    background-color: #5cfffc;
}

a.img
{
    line-height: 0;
    padding: 0;
    transition: none;
    
}

a.img:hover
{
    background-color: transparent;
}

a.plain
{
    line-height: 0;
    padding: 2px;
    /* transition: none; */
    
}



.scontainer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
    margin-bottom: 8%;
    /* margin-left: 5%; */
    width: 100%;
    /* overflow: scroll; */
    scroll-snap-type: y proximity;
}

.dcontainer
{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-gap: 2%; */
    /* width: 100%; */
    padding-top: 12%;
    width: 90%;
    margin-left: 5%;
    /* overflow: scroll; */
    /* scroll-snap-type: y proximity; */
}

.tricontainer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4%;
    width: 100%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.proj {
    scroll-snap-align: start;
    position: relative;
  /* width: 50%; */
  }

.proj-i
{
    opacity: 1;
    display: block;
    height: 200px;
    width: 100%;
    object-fit: cover;
    /* padding: 2%; */
    /* scroll-snap-align: start; */
    transition: .2s ease;
    backface-visibility: hidden;
}

.proj-ii
{
    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
    padding-bottom: 4%;
}

.proj-iii
{
    opacity: 1;
    display: block;
    height: 100%;
    width: 100%;
    padding-bottom: 20%;
    object-fit: cover;
    padding-bottom: 4%;
}


.proj:hover .proj-i {
    opacity: 0.2;
  }
  
.proj:hover .desc {
    opacity: 1;
  }
  
.desc {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .desc-text {
    background-color: #212121;
    color: white;
    font-size: 16px;
    padding: 0px 12px;
  }

.projcontainer
{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 4%;
    width: 100%;
    margin-bottom: 50%;
}

.smallscreen-nav
{
    display: none;
}

.largescreen-nav
{
    display: block;
}

@media only screen and (max-width: 900px) {
    .container
    {
        width: 94%;
        grid-template-columns: 1fr;
    }

    h1
    {
        text-align: center;
    }

    .scontainer
    {
        padding-top: 0px;
    }

    /* .scontainer
    {
        
    } */
    .sidebar
    {
        position: relative;
        width: 100%;
        height: 100%;
        /* z-index: -1; */
        overflow: auto;
        /* margin-bottom: 30%; */
    }
    
    .smallscreen-nav
{
    display: block;
    text-align:center;
    /* padding-bottom: 2%; */

}

a
{
    /* padding: 2%; */
    /* line-height: 0px; */
}

.largescreen-nav
{
    display: block;
}

    .tabs
    {
        /* background: blue; */
        /* width: 90%; */
        /* margin: 0 auto; */
        text-align:center;
        /* display: none; */
    }

    .proj-i
    {
        padding: 0;
    }
  }

  @media only screen and (max-width: 600px) {
    .scontainer
    {
        grid-template-columns: 1fr;
    }

    .tricontainer
    {
        grid-template-columns: 1fr;
        margin-bottom: 30%;
    }

    .proj-iii
    {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .desc
    {
        position: relative;
        top: 10%;
        left: 50%;
        opacity: 1;
    }

    .sidebar
    {
        height: 150%;
    }

    .proj:hover .proj-i {
        opacity: 1;
      }

      .desc-text
      {
        padding: 3px 5px;
      }


  }